.body{
    padding: 0;
    margin: 0;
}

.heading{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.profile{
    margin-top: 120px;
}

.checklist{
    margin-top: 120px;
}

@media (max-width: 964px) {
    .heading{
        flex-direction: column;
        text-align: center;
    }

    .content{
        text-align: center;
    }
}